@font-face {
  font-family: "Aktiv Grotesk Corp";
  src: local("Aktiv Grotesk Corp"),
    url(../fonts/AktivGrotesk-W06-Regular.ttf) format("truetype");
}

.app-btn {
  text-transform: inherit !important;
  color: white !important;
  background: #5b5d45 !important;
  border-radius: 6px;
}

.margin-top-40 {
  margin-top: 40px;
}

html,
body {
  font-family: "Aktiv Grotesk Corp", sans-serif !important;
}
